<section class="user-management">
  <header class="user-management__header">
    <h1>Users</h1>
    <div class="user-management__actions">
      <button mat-stroked-button color="primary" (click)="createRandomUser()">
        <mat-icon>auto_awesome</mat-icon>
        Random user
      </button>
      <button mat-flat-button color="primary" (click)="createUser()">
        <mat-icon>person_add</mat-icon>
        Add user
      </button>
    </div>
  </header>

  <app-user-table
    [users]="users()"
    [loading]="loading()"
    (viewDetails)="openDetails($event)"
    (editUser)="editUser($event)"
    (deleteUser)="deleteUser($event)"
  ></app-user-table>
</section>
