.user-management {
  display: grid;
  gap: 1rem;
  padding: 1rem 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;
  }

  &__actions {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    button mat-icon {
      margin-right: 0.25rem;
    }
  }
}
